.archive-container {
  keep-container(false, 0, 0, 30px, 30px);
}

.post-section {
  background: var(--background-color);
}
.archive-time {
  &::marker {
    content: '☠️';
  }  

}
.archive-title {
  color: var(--first-text-color);  
}