<div style="display: none" id="all_links">
  <%-list_posts({class: 'classtest', style: 'list',amount: site.posts.length})%>
</div>
<script>
  // window.addEventListener("DOMContentLoaded", () => {
  document.addEventListener("pjax:complete", () =>
    setTimeout(() => {
      let all_links = document
        .getElementById("all_links")
        .querySelectorAll("li>a");
      let all_references = document.querySelectorAll(".backlink");
      all_references.forEach((references) => {
        // 寻找当前匹配的标题
        all_links.forEach((item) => {
          // 匹配所有的标题，找到合适的
          // console.log(item.innerText);
          if (item.innerText.trim() === references.innerText.trim()) {
            // console.log(item);
            references.setAttribute("href", item.getAttribute("href"));
          }
        });
      });
    })
  );
  setTimeout(() => {
    let all_links = document
      .getElementById("all_links")
      .querySelectorAll("li>a");
    let all_references = document.querySelectorAll(".backlink");
    all_references.forEach((references) => {
      // 寻找当前匹配的标题
      all_links.forEach((item) => {
        // 匹配所有的标题，找到合适的
        // console.log(item.innerText);
        if (item.innerText.trim() === references.innerText.trim()) {
          // console.log(item);
          references.setAttribute("href", item.getAttribute("href"));
        }
      });
    });
  });
  // });
</script>
