[submodule "source"]
	path = source
	url = https://github.com/couriourc/couriourc.github.io
	branch = source
[submodule "themes/hexo-keep"]
	path = themes/hexo-keep
	url = https://github.com/couriourc/couriourc.github.io.git
	branch = theme
