<!DOCTYPE html>
<html lang="<%= config.language; %>">
<%- partial('_partial/head'); %>
<body>
<%- body; %> <%- partial('_partial/scripts'); %>
<script id="__bs_script__">
  //<![CDATA[
  (function () {
    try {
      var script = document.createElement('script');
      if ('async') {
        script.async = true;
      }
      script.src =
        'http://HOST:3000/browser-sync/browser-sync-client.js?v=2.29.3'.replace(
          'HOST',
          location.hostname,
        );
      if (document.body) {
        document.body.appendChild(script);
      } else if (document.head) {
        document.head.appendChild(script);
      }
    } catch (e) {
      console.error('Browsersync: could not append script tag', e);
    }
  })();
  //]]>
</script>


</body>
</html>
