/* build time:Sat Mar 11 2023 15:17:35 GMT+0800 (中国标准时间)*/
.category-container .category-name{color:var(--second-text-color);font-size:1.6rem;padding-bottom:20px;margin-bottom:$component-spacing-value;border-bottom:1px solid var(--border-color)}.category-container .category-name i{color:var(--second-text-color)}
/* rebuild by neat */