/* build time:Mon Oct 17 2022 20:06:17 GMT+0800 (中国标准时间)*/
.tag-container .tag-name{color:var(--second-text-color);font-size:1.6rem;padding-bottom:20px;margin-bottom:$component-spacing-value;border-bottom:1px solid var(--border-color)}.tag-container .tag-name i{color:var(--second-text-color)}
/* rebuild by neat */