<div class="post-tools-container">
    <ul class="tools-list">
        <!-- TOC aside toggle -->
        <% if (theme.toc.enable) { %>
            <li class="tools-item page-aside-toggle">
                <i class="gg-menu"></i>
            </li>
        <% } %>

        <!-- go comment -->
        <% if (theme.comment.enable === true && theme.comment.hasOwnProperty(theme.comment.use)) { %>
            <li class="go-comment">
                <i class="fas fa-comment"></i>
            </li>
        <% } %>

        <!-- copy link -->
        <!--        <li class="go-comment">-->
        <!--            <i class="fas fa-share"></i>-->
        <!--        </li>-->
    </ul>
</div>
