<% var options = [{
    clasz: 'tool-font-adjust-plus', icon: 'search-plus', title:
            ' 放大 ',
}, {
    clasz: 'tool-font-adjust-minus', title: ' 缩小 ', icon:
            'search-minus',
}, {
    clasz: 'tool-expand-width', title: ' 缩小 ', icon:
            'arrows-alt-h',
}, {
    clasz: 'tool-dark-light-toggle', title: ' 切换灯光 ', icon:
            'moon',
}, {
    clasz: 'tool-github-contact-me', title: ' 找到我 ', icon:
            'gg-bot gg-bot', params: theme['social_contact']['links']['github'],
}, {
    clasz:
            'tool-scroll-to-top', title: ' 回到最上 ', icon: 'arrow-up',
}, {
    clasz:
            'tool-scroll-to-bottom', title: ' 滚动至最底 ', icon: 'arrow-down',
}]; %>

<div class="side-tools-container">
    <ul class="side-tools-list">
        <% options.forEach((option)=>{ %> <% if (!option.disable) { %>
            <li
                    class="tools-item flex-center <%= option.clasz; %>"
                    title="<%= option.title %>"
                    params="<%= option.params %>"
            >
                <i class="fas fa-<%= option.icon %>">
                </i>
            </li>
        <% } %>
        <% }); %>
    </ul>

    <ul class="exposed-tools-list">
        <li class="tools-item tool-toggle-show flex-center">
            <i class="fas fa-cog fa-spin"></i>
        </li>
        <% if (theme.style.scroll.percent.enable === true) { %>
            <li class="tools-item tool-scroll-to-top flex-center">
                <i class="arrow-up fas fa-arrow-up"></i>
                <span class="percent"></span>
            </li>
        <% } %>
    </ul>
</div>
